{% extends 'default.twig' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="starter-template">
    <h1>Slim Starter Template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.
    	<br> See the docs to get started.
    </p>
</div>
{% endblock %}